* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
}

section {
  max-width: 500px;
}

.x_icon {
  fill: #31c4be;
  display: none;
}

.o_icon {
  fill: #f4b036;
  display: none;
}

.neutral {
  fill: #a8bec9;
}

.on {
  display: block;
}

.off {
  display: none;
}

main {
  background-color: #192a32;
  height: 100vh;
  padding: 20px;
  display: grid;

  // LANDING PAGE
  #landing_page {
    place-self: center;
    width: 100%;
    display: grid;

    // Pick Mark
    .pick_mark {
      background-color: #1f3540;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.2);
      margin-top: 30px;

      h2 {
        color: #a8bec9;
        font-size: 14px;
      }

      .marks_con {
        background-color: #192a32;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 7px;
        padding: 7px;
        margin-top: 20px;
        border-radius: 10px;

        #x_mark {
          border-radius: 7px;
          background-color: #a8bec9;
          transition: 0.2s;
        }

        #o_mark {
          border-radius: 7px;
          transition: 0.2s;
        }
      }

      p {
        color: #a8bec9;
        opacity: 0.5;
        font-size: 12px;
        margin-top: 20px;
      }
    }

    // Game Modes
    .game_modes {
      display: grid;
      grid-gap: 15px;
      margin-top: 30px;

      button {
        color: #192a32;
        font-weight: 900;
        padding: 10px;
        width: 100%;
        border-radius: 10px;
      }

      #versusCPU {
        background-color: #f4b036;
        box-shadow: 0px 5px 0px 0px rgba(244, 176, 54, 0.8);
      }

      #versusPlayer {
        background-color: #31c4be;
        box-shadow: 0px 5px 0px 0px rgba(49, 196, 190, 0.8);
      }
    }
  }

  // GAME PAGE
  #game_page {
    display: none;
    grid-gap: 20px;
    place-content: center;
    width: fit-content;
    margin: auto;

    // Header
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .player_turn {
        background-color: #1f3540;
        display: flex;
        align-items: center;
        padding: 7px 20px;
        border-radius: 7px;

        p {
          font-size: 14px;
          color: #a8bec9;
          margin-left: 10px;
          font-weight: 600;
        }
      }

      .restart {
        background-color: #a8bec9;
        color: #192a32;
        font-size: 15px;
        padding: 5.5px;
        border-radius: 5px;
        box-shadow: 0 1px 2px 0 rgba(168, 190, 201, 0.7);
      }
    }

    // Game Tiles
    .game_tiles {
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-gap: 15px;

      .tile {
        background-color: #1f3540;
        border-radius: 7px;
        width: 70px;
        height: 70px;
        display: grid;
        place-content: center;
        box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.2);
      }
    }

    // Score Tiles
    .score_tiles {
      display: flex;
      justify-content: space-between;

      .score_tile {
        border-radius: 7px;
        padding: 7px;
        width: 70px;
        color: #192a32;

        h3 {
          font-size: 11px;
          font-weight: lighter;
        }

        p {
          font-size: 14px;
          font-weight: 600;
          margin-top: 1px;
        }
      }
    }

    // Result
    #result_con {
      position: fixed;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      align-items: center;
      top: 0;
      left: 0;

      .result {
        width: 100%;
        background-color: #1f3540;
        padding: 30px;
        display: grid;
        justify-content: center;
        grid-gap: 15px;

        h3 {
          color: #a8bec9;
          font-size: 14px;
        }

        .who_won {
          display: flex;
          color: #31c4be;
          align-items: center;
          justify-content: center;
          font-weight: 600;
          letter-spacing: 1.1px;

          p {
            margin-left: 10px;
          }
        }

        .result_btns {
          button {
            padding: 10px;
            border-radius: 7px;
            font-weight: 900;
            color: #192a32;
          }

          #quit {
            background-color: #a8bec9;
            box-shadow: 0px 3px 0px 0px rgba(168, 190, 201, 0.7);
          }

          #next_round {
            background-color: #f4b036;
            box-shadow: 0px 3px 0px 0px rgba(244, 176, 54, 0.7);
            margin-left: 7px;
          }
        }
      }
    }
  }
}
